body {
  background-color: RGB(177, 205, 227);
  background-image: url("INST0018_23-24_uczcxz2/orange_cat.png");
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: multiply;
}

h1 {
  color: RGB(122, 182, 41);
  text-align: center;

}

div.cat {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: white;

}
